<h1> Student Details </h1>
<table border=" solid 3px ">
  <tr>
  <th>Emplyee_name</th>
  <th>Email</th>
  <th>gender</th>
  <th>Hobbies</th>
  <th>address</th>
  <th>Mobile_number</th>
  <th>Birth_date</th>
  </tr>
   <% @staffs.each do |staff| %>
    <tr>
      <td><%=staff.employee_name %></td>
      <td><%=staff.email %></td>
      <td><%=staff.gender %></td>
      <td><%=staff.hobbies %></td>
      <td><%=staff.address %></td>
      <td><%=staff.mobile_number %></td>
      <td><%=staff.birth_date %></td>
      <td><%= link_to "Edit Staff", edit_staff_path(id: staff.id) %></td>
      <td><%= link_to "Show Staff", staff_path(id: staff.id) %></td>
      <td><%= button_to "Destroy Staff",staff_path(id: staff.id),
            method: 'delete' ,
            data:{ confirm: "are you sure"}%></td>
    </tr>
  <% end %>
</table>
<br/>
<%= link_to "Add a new Staff member", new_staff_path %><br/><br/>
<%= link_to "Search Employee by name", search_staffs_path %>
 