<h1> Add New Product</h1>
<%= form_with model: @product do |form| %>
  <%= form.text_field :title, placeholder: 'title' %><br/><br/>
  <%= form.text_field :description, placeholder: 'description' %><br/><br/>
  <%= form.number_field :price, placeholder: 'price' %><br/><br/>
  <%= form.number_field :capacity, placeholder: 'capacity' %><br/><br/>
  <%= form.check_box :is_active %><br/><br/>
  <%= form.select :status, ["in_stock", "out_of_stock", "coming_soon"] %><br/><br/>
  <%= form.submit %>
<% end %>