<div class="section" >
  <div class="container">
    <table border='2px'>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
        <th>capacity</th>
        <th>Is Active</th>
        <th>Status</th>
      </tr>
      <tr>
       <td><%= @products.title %></td>
        <td><%= @products.description %></td>
        <td><%= @products.price %></td>
        <td><%= @products.capacity %></td>
        <td><%= @products.is_active %></td>
        <td><%= @products.status %></td>
      </tr>
    </table>
  </div>
</div>
