<h1>Employee</h1>
<div >
  <p>
    <strong>First Name:</strong>
    <%= @employee.first_name %>
  </p>
  <p>
    <strong>Last Name:</strong>
    <%= @employee.last_name %>
  </p>
  <p>
    <strong>Email:</strong>
    <%= @employee.email %>
  </p>
  <p>
    <strong>Age:</strong>
    <%= @employee.age %>
  </p>
  <p>
    <strong>No Of Order:</strong>
    <%= @employee.no_of_order %>
  </p>
  <p>
    <strong>Full Time available:</strong>
    <%= @employee.full_time_available %>
  </p>
	  <p>
    <strong>Salary:</strong>
    <%= @employee.salary %>
  </p>

</div>