<h1>faculty</h1>
<div id="">
  <p>
    <strong>First Name:</strong>
    <%= @faculty.first_name %>
  </p>

    <p>
    <strong>Last Name:</strong>
    <%= @faculty.last_name %>
  </p>

  <p>
    <strong>DOB:</strong>
    <%= @faculty.DOB %>
  </p>

  <p>
    <strong>Phone Number:</strong>
    <%= @faculty.phone_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @faculty.email %>
  </p>
  <p>
    <strong>Designation:</strong>
    <%= @faculty.designation %>
  </p>

</div>
