<h1>Edit Your Event Details</h1>
<%= form_for @event do |form| %>
  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>
  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date %>
  </div>
  <div>
    <%= label_tag(:category_id, "Choose Your Category:") %>
    <%= collection_select(:category_id, :category_id, Category.all, :id, :name) %><br/>
  </div>
  <div>
    <%= form.submit %>
  </div>
<%end%>
