<%= link_to "Customer page", customers_path %><br/><br/>
<%= link_to "Product page", shopproducts_path %><br/><br/>
<%= link_to "Order Page", orders_path %><br/><br/>

<h3>Task 9..12</h3>
<%= link_to "most_sales_product_by_quantity", most_sales_product_by_quantity_customers_path %><br/><br/>
<%= link_to "most_sales_product_by_price", most_sales_product_by_price_customers_path %><br/><br/>
<%= link_to "most_booked_order_of_product", most_booked_order_of_product_customers_path %><br/><br/>
<%= link_to "most_cancelled_order_of_product", most_cancelled_order_of_product_customers_path %><br/><br/>