<h1>top 5 customer who has maximum booked orders</h1>
<% Order.group(:customer_id).having(status:'booked').reverse_order.first(5).each do |a| %>
  <p>
    <strong> Total no of booked order:</strong>
    <%= Order.where(customer_id:a.customer_id).where(status:'booked').count %>
  </p>
  <p>
    <strong>First Name:</strong>
    <%= a.customer.fname %>
  </p>
  <p>
    <strong>Last Name:</strong>
    <%= a.customer.lname %>
  </p>
  <p>
    <strong>Email:</strong>
    <%= a.customer.email%>
  </p>
  <p>
    <strong>Phone Number:</strong>
    <%= a.customer.phone_number %>
  </p>
<% end %>