<h1> Change Password</h1>
<%=flash[:alert]%>
<% if flash[:alert] %>
  <div >
    <ul>
      <% flash[:alert].each do |error| %>
        <li style="color:red;"><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_with(url: new_users_path,url: update_password_new_user_path) do |form| %>
  <%= form.password_field :password, placeholder: 'enter old password' %><br/><br/>
  <%= form.password_field :new_password, placeholder: 'password' ,:id => "new_password",onchange:"check_validation();"%><br/><br/>
  <%= form.password_field :confirm_password, placeholder: 'confirm_password' ,onchange:"check_password();",:id => "confirm_password"%><br/><br/>
  <%= form.submit :id => "form_submit",style:"display:none;"%>
<% end %>

<script>
function check_validation()
  {
    var password = document.getElementById("new_password").value;
    if(password.length <= 3 || password.length > 12)
      {
        alert("password length should be in between 3 and 12 characters")
        document.getElementById("new_password").value=""
      }
  }

function check_password()
  {
    var password = document.getElementById("new_password").value;
    var confirm_password = document.getElementById("confirm_password").value;
    console.log(password)
    console.log(confirm_password)
    if(password)
      {
        if(confirm_password==password)
          {
            alert("password matched...")
            document.getElementById("check")
            document.getElementById("form_submit").style.display="block"
          }
        else
        {
          alert("password is not matching")
          //document.getElementById("confirm_password").value=""
          document.getElementById("form_submit").style.display="none"
        }
      }
    else
      {
        alert("please first type password")
        document.getElementById("confirm_password").value=""
      }
  }

</script>
