<div class="section" >
  <div class="container">
    <table border='2px'>
      <tr>
        <th>Quantity</th>
        <th>Total Price</th>
        <th>Shopproduct Id</th>
        <th>Status</th>
        <th>Customer Id</th>
      </tr>
      <tr>
        <td><%= order.quantity %></td>
        <td><%= order.total_price %></td>
        <td><%= order.shopproduct_id %></td>
        <td><%= order.status %></td>
        <td><%= order.customer_id %></td>
          
      <% end %>
      </tr>
    </table>
  </div>
</div>
