<h1> Edit book </h1>
<%= form_with model: @author do |form| %>
<%= form.text_field :name, placeholder: 'first_name' %>
<%= form.text_field :name, placeholder: 'last_name' %>
<%= form.number_field :price, placeholder: 'price' %>
<%= form.number_field :author_id, placeholder: 'author id' %>

<%= form.submit %>
<% end %>