<div class="section" >
	<div class="container">
        <table border='2px'>
            <tr>
            <th>Book ID</th>
            <th>Book Name</th>
            <th>Book Price</th>
            <th>Edit</th>
            <th>show</th>
            <th>Delete</th>
            </tr>
		<% @books.each do |book| %>
			
            <tr>
            <td><%= book.id %></td>
            <td><%= book.name %></td>
            <td><%= book.price %></td>
            
            <td><%= link_to "Edit book", edit_book_path(id: book.id) %></td>
            <td><%= link_to "Show Book", book_path(id: book.id) %></td>
            <td><%= link_to "Destroy Book",edit_book_path(id: book.id),
            method: :delete ,
            data:{ confirm: "are you sure"}%></td>
            </tr>
            <% end %>
            </table>
            <%= link_to "Add a new Book", new_book_path %>
		
	</div>
</div>

 