<div class="section" >
  <div class="container">
    <table border='2px'>
      <tr>
        <th>Name</th>
        <th>gender</th>  
      </tr>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.name %></td>
          <td><%= customer.gender %></td>
          <td><%= link_to "Edit Buyer", edit_business_buyer_path(customer.id) %></td>
          <td><%= link_to "Show Buyer", preview_business_buyer_path(customer.id) %></td>
          <td><%= button_to "Destroy Buyer",delete_customer_business_buyer_path(customer.id),method: 'delete' ,data:{confirm: "are you sure"} %></td>
        </tr>
      <% end %>
    </table>
  </div><br/>
  <%= link_to "Add new buyer", new_business_buyers_path %><br/>
  <td><%= link_to "Search Buyer", search_business_buyers_path %></td>
  
</div>
