<h1> Edit book </h1>
<%= form_with model: @image do |form| %>
<%= form.text_field :img_name, placeholder: 'image_name' %>
<%= form.number_field :author_id, placeholder: 'author id' %>
<%= form.number_field :book_id, placeholder: 'book id' %>

<%= form.submit %>
<% end %>
